---
import Overview from "./Overview.astro";


---

<header>
  <h1>Format Wizard</h1>
  <button id="open-overview"> Overview </button>
</header>

<Overview />

<style>
  header {
    width: calc(100vw - 2 * var(--padding));
    height: var(--header-height);
    background: white;
    position: fixed;
    top: var(--padding);
    z-index: 9;
    left: 50%;
    translate: -50% 0;
    padding: var(--padding);
    border-radius: var(--border-radius);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
